*{
    margin: 0;
    padding: 0;
}
body{
    background-color: black;
}
.ota{
  
    align-items: center;
  display: flex;
  justify-content: center;
  flex-direction: column;
  gap: 20px;
  border: 1px solid black;
width: 30%;
margin-left: 37%;
margin-top: 10%;
padding: 20px;
border-radius: 20px;
border-color: wheat;
background-color: white;
box-shadow: 1px 5px 50px 5px greenyellow;

}

.add{
font-size: 20px;
padding: 10px;

}

.box1,.box2,.box3{
  display: flex;
  justify-content: space-between; 
  align-items: center;
  width: 300px;
  background: rgb(131, 192, 134);
  padding: 5px;
  margin: 5px 0;
  border-radius: 20px;
  padding: 10px;
}





button{
    font-size: 10px;
    border-radius: 5px;
    border: none;
    text-align: end;
 background-color: rgb(241, 25, 25);   
 color: white;
  padding: 10px; 
  transition: 0.3s;
  transform: scale(1.3);
  box-shadow: 1px 1px 5px 1px red;
}
button:hover{
    transform:rotate(15deg);
    background-color: rgb(238, 9, 9);
    color:white;
    box-shadow: 2px 0px 20px 5px rgb(142, 6, 6);
   
}

input{
    transform: scale(1.5);
border-color: rgb(6, 98, 75);
transition: 0.3s;

}
input:hover{
   transform:  scale(2);
  
}

.but{
margin-left: 40px;
font-size: 10px;
background-color: rgb(90, 162, 13);
transition: 0.3s;
box-shadow: 1px 1px 1px 1px white;
}
.but:hover{
  transform: none   ;
    background-color: rgb(39, 138, 37);
    color:white; 
    box-shadow: none;
}

input[type="checkbox"]{
  accent-color: rgb(26, 231, 136); 
  box-shadow: 1px 1px 20px 3px green;
}

h1{
  font-family: Georgia, 'Times New Roman', Times, serif;
  color: rgb(91, 148, 6);
  text-shadow: 3px 5px 30px green;
}



.box11:hover{
color: red;
}

.box12:hover{
  color: blue;
}

.box13:hover{
  color: rgb(241, 18, 241);
}