*{
    margin: 0;
    padding: 0;
}
body{
    background-color: black;
}
.ota{
  
    align-items: center;
  display: flex;
  justify-content: center;
  flex-direction: column;
  gap: 20px;
  border: 1px solid black;
width: 30%;
margin-left: 37%;
margin-top: 10%;
padding: 20px;
border-radius: 20px;
border-color: wheat;
background-color: white;
box-shadow: 1px 5px 50px 5px greenyellow;

}

.add{
font-size: 20px;

}

.box1,.box2,.box3{
  display: flex;
  justify-content: space-between; 
  align-items: center;
  width: 300px;
  background: rgb(131, 192, 134);
  padding: 5px;
  margin: 5px 0;
  border-radius: 20px;
  padding: 10px;
}





button{
    font-size: 10px;
    border-radius: 5px;
    border: none;
    text-align: end;
 background-color: red;   
 color: white;
  padding: 10px; 
  transition: 0.3s;
  transform: scale(1.3);
}
button:hover{
    transform:rotate(15deg);
    background-color: white;
    color: black;
}

input{
    transform: scale(1.5);
border-color: rgb(6, 98, 75);
transition: 0.3s;
}
input:hover{
   transform:  scale(2);
  
}

.but{
margin-left: 40px;
font-size: 10px;
background-color: rgb(33, 56, 9);
transition: 0.3s;
}
.but:hover{
     transform:rotate(15deg);
    background-color: rgb(63, 23, 224);
    color:white; 
}

input[type="checkbox"]{
  accent-color: rgb(26, 231, 136); 
}
